h2{
    color: aqua;
}
h1{
    color: rgb(172, 172, 100);
}
.Encabezado{
    background-color: rgb(18, 238, 238);
}
.Logo img{
    width: 100px;
}
.facebook img{
    width: 100px;
}
.instagram img{
    width: 100px;
}
.tiktok img{
    width: 100px;
}
.whatsapp img{
    width: 100px;
}
.youtube img{
    width: 100px;
}





